body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/gray-abstract-wireframe-technology-background.jpg');
  background-size: 1450px, 640px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading-div{
  text-align: center;
}
.heading-div{
  text-align: center;
  
}
.main-div{
  text-align: center;
}
.login-div{
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./images/450520.jpg');
  background-size: 600px,300px;
  border-radius: 20px;
  width: 500px;
}
.login-heading{
  text-align: center;
  color: white;
  margin: 10px;

}
.email-field{
  height: 38px;
  width: 300px;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 20px;
}
.password-field{
  height: 38px;
  width: 300px;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 20px;
}
.email-div{
  text-align: center;
}
.password-div{
  text-align: center;
}
.loginbutton{
  text-align: center;
  height: 40px;
  width: 70px;
  border-radius: 20px;
}
.loginbutton-div{
  text-align: center;
}
.signup-div{
  text-align: center;
  margin: 10px;
}
.signup-link{
  color: white;
  text-decoration: none !important
}
.guest-div{
  text-align: center;
  margin: 10px;
}
.guest-link{
  color: white;
  text-decoration: none !important;
}

.register-div{
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./images/450520.jpg');
  background-size: 600px,300px;
  border-radius: 20px;
  width: 500px;
}

.register-heading{
  text-align: center;
  color: white;
  margin: 10px;

}

.registerbutton{
  text-align: center;
  height: 40px;
  width: 90px;
  border-radius: 20px;
}
.registerbutton-div{
  text-align: center;
  margin: 10px;
}
.sidebar{
  background-color: lightgray;  height: auto; 
}
.sidebar-bottom-content{
  margin: 55px;
  margin-top: 250px;
}
.home-link{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    color: rgb(19, 19, 19);
    font-weight: 500;
    margin-left: 5px;
}
.logout-link{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    color: rgb(19, 19, 19);
    font-weight: 500;
    margin-left: 5px;

}
.home-div{
  text-align: left;
  display: flex;
}
.logout-div{
  margin-top: 20px;
  text-align: left;
  display: flex;
}

.table-div{
  display: flex;
  justify-content: center;
  width: 900px !important;
  margin-top: 30px;
  align-content: center;
}
.table th{
  border: solid rgb(75, 74, 74) 1px;
  height: 40px;
  text-align: center;
}
.table td{
  text-align: center;
  border: solid rgb(75, 74, 74) 1px;
  height: 30px;
}
.sidebar-list{
  margin-top: 50px;
}
.sidebar-list-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  font-weight:bold;;
  text-decoration: none;
  color: rgb(19, 19, 19);

}
.sidebarcontent-div{
  text-align: left;
  margin-top: 20px;
  display: flex;
}
.sidebar-div{
  font-size: 20px;
  border-right: solid;
  background-color: rgb(121, 121, 121);
  height:100vh;
}
.sidebarcontent-div h3{
  margin-top: 10px;
}
.addicon-btn{
  margin: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none; 
 
}
.addbutton-todolist{
  text-align: center;
  height: 40px;
  width: 70px;
  border-radius: 20px;
}
.todolist-heading{
  text-align: center;
}
.addtodo-field{
  height: 40px;
  width: 300px;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 20px;
}
.addtodo-div{
  text-align: center;
}
.todobtn-div{
  text-align: center;
  margin: 10px;
}
.modal-main{
  font-size: 150%;
}
.todo-lists{
  display: flex;
    align-items: center;
    text-decoration: none !important;
    color: black;
}
.additem-div{
  display: flex;
  margin: 20px;
}
.user-content-div h2{
  text-align: left;
  margin: 20px;
}
.content-div{
  text-align: center;
  border-top: solid;
}
.additem-btn-div{
  margin: 10px;
}
.additem-div ul{
  margin-top: 20px;

}
.additem-btn{
  border: none; 
}
.additem-field{
  height: 40px;
  width: 300px;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 20px;
}
.modal-content-div{
  text-align: center;

}
.modal-main h3{
  text-align: center;
}
.radio-btn-div{
  text-align: center;
  margin: 10px;
}
.radiobtn-field{
  margin: 10px !important;
}
.privacy-label{
  margin: 10px;
}
.errormessage-div{
  text-align: center;
}
.modal-main{
  font-size: 100%;
}
.additem-modalbtn{
  border: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  margin: 10px;
}

.todolist-name {
  text-decoration: none !important;
  color: black;
}

.user-task-table{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.user-task-table-1st-row {
  background-color: rgb(180, 184, 184);
  border-radius: 10px;
  height: 30px;
}
.user-task-table-content{
  background-color: rgb(200, 204, 204);
}
.delete-btn{
  margin: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none; 
}
.delete-btn-disudo nano /etc/gdm3/custom.conf
v{
  margin: 10px;
}
.todolist-name-div{
  display: flex;
}







