body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/gray-abstract-wireframe-technology-background.jpg');
  background-size: 1450px, 640px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading-div{
  text-align: center;
}
.heading-div{
  text-align: center;
  
}
.main-div{
  text-align: center;
}
.login-div{
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./images/450520.jpg');
  background-size: 600px,300px;
  border-radius: 20px;
  width: 500px;
}
.login-heading{
  text-align: center;
  color: white;
  margin: 10px;

}
.email-field{
  height: 38px;
  width: 300px;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 20px;
}
.password-field{
  height: 38px;
  width: 300px;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 20px;
}
.email-div{
  text-align: center;
}
.password-div{
  text-align: center;
}
.loginbutton{
  text-align: center;
  height: 40px;
  width: 70px;
  border-radius: 20px;
}
.loginbutton-div{
  text-align: center;
}
.signup-div{
  text-align: center;
  margin: 10px;
}
.signup-link{
  color: white;
  text-decoration: none !important
}
.guest-div{
  text-align: center;
  margin: 10px;
}
.guest-link{
  color: white;
  text-decoration: none !important;
}